In [ ]:
import pyodbc

# Define connection string
connection = pyodbc.connect(
    "DRIVER={SQL Server};"
    "SERVER=TUMIRZAKH;"
    "DATABASE=homework_17;"
    "Trusted_Connection=yes;"  
)

cursor = connection.cursor()
#i created database called homework_17 in sql server to work on hometask
'''create database homework_17
use homework_17'''

creating_table_query = 'create table Roster(Name text, Species text, Age int)'
created_table = cursor.execute(creating_table_query)
connection.commit()

inserting_query = "insert into Roster values('Benjamin', 'Human', 40), ('Jadzia Dax', 'Trill', 300), ('Kira', 'Bajoran', 29)"
inserted = cursor.execute(inserting_query)
connection.commit()

updating_query = "UPDATE Roster SET Name = 'Ezri Dax' WHERE Age = 300"
cursor.execute(updating_query)  
connection.commit()  

selecting_query = "SELECT Name, Age FROM Roster WHERE cast(Species as varchar(MAX)) = 'Bajoran'"
selected_result = cursor.execute(selecting_query)
print(selected_result.fetchall())
connection.commit()
connection.close()

[('Kira', 29)]